venv/
.venv/
__pycache__/
*.pyc
*.pyo

.git/
.gitignore

.env

.ipynb_checkpoints/

.pytest_cache/

.vscode/

*.log



# models
models/*
!models/xgboost_final.joblib
!models/.gitkeep

# Data
data/*
!data/.gitkeep
*.parquet
*.csv
!reports/*.csv



# Python / Caches
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
.env
