# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

# Environment variables
.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Power BI temporary files
*.tmp